html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-app-region: drag;
}

.root {
    height: 100%;
    width: 100%;
    display: flex;
}

.application {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 90px;
}
