.body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.textarea,
.markdown {
    width: 50%;
    height: calc(100% - 40px);
    font-size: 14px;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 100%;
    height: 100%;
    border: none;
    resize: none;
}

.textarea {
    box-shadow: 30px 25px 41px -15px #f0f0f0;
    position: relative;
}

.markdown {
    padding-top: 6px;
    //border-left: 1px solid #aaaaaa;
    background: #fafcff;
}

.title-container {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 2.5%;
        bottom: 0;
        height: 1px;
        width: 95%;
        border-bottom: 1px solid #aaaaaa;
    }

    input {
        padding-left: 20px;
    }
}
