.body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.textarea,
.markdown {
    width: 50%;
    height: calc(100% - 40px);
    font-size: 14px;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 100%;
    height: 100%;
    border: none;
    resize: none;
}

.textarea {
    box-shadow: 30px 25px 41px -15px #f0f0f0;
    position: relative;
}

.markdown {
    padding-top: 6px;
    //border-left: 1px solid #aaaaaa;
    background: #fafcff;
}

.title-container {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 2.5%;
        bottom: 0;
        height: 1px;
        width: 95%;
        border-bottom: 1px solid #aaaaaa;
    }

    input {
        padding-left: 20px;
    }
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 2.5%;
        top: 0;
        height: 1px;
        width: 95%;
        border-bottom: 1px solid #aaaaaa;
    }

    .button-container {
        background: #fff;
        border-radius: 3px;
        transition: all 0.4s ease;
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 20px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .btn-primary {
            display: flex;
            width: 15%;
            cursor: pointer;

            &:hover {
                background: #fafcff;
                text-decoration: underline;
            }
        }

        #save-btn {
            font-weight: 800;
        }
    }
}
