.body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #fff;
    padding: 24px;
    padding-top: 12px;
}

.textarea,
.markdown {
    width: 100%;
    height: calc(100% - 40px);
    font-size: 16px;
    padding: 20px;
    //width: 400px;
    width: calc(100% - 40px);
}

textarea {
    width: 100%;
    height: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 16px;
}

.textarea {
    box-shadow: 30px 25px 41px -15px #f0f0f0;
    position: relative;
}

.markdown {
    padding-top: 6px;
    //border-left: 1px solid #aaaaaa;
    //background: #fafcff;
}

.title-container {
    position: relative;
    font-size: 24px;
    height: 125px !important;
    line-height: 80px;
    padding-bottom: 0px;

    &:after {
        content: '';
        position: absolute;
        left: 4%;
        bottom: -4;
        height: 1px;
        width: 92%;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    input {
        padding-bottom: 0px;
        padding-left: 42px;
        padding-top: 32px;
    }
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 2.5%;
        top: 0;
        height: 1px;
        width: 95%;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .button-container {
        background: #fff;
        border-radius: 3px;
        transition: all 0.4s ease;
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 20px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .btn-primary {
            display: flex;
            width: 15%;
            cursor: pointer;
            color: rgb(169, 169, 169);

            &:hover {
                background: #fafcff;
                text-decoration: underline;
            }
        }

        #save-btn {
            font-weight: 800;
            color: rgb(51, 51, 51);
        }
    }
}
