@import url(https://fonts.googleapis.com/css?family=Montserrat);

$snappy: cubic-bezier(0.694, 0.048, 0.335, 1);
$tundora: #4b4848;
$hint: #faf8f8;
$cornflower-blue: #606060;

*:focus {
    outline: none;
}

body {
    font-family: 'Montserrat', 'Helevtica', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    color: $tundora;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1.25s ease-in-out;
}

input {
    font-size: 100%;
    box-sizing: border-box;
}

.search {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.field {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background: white;
    border-radius: 3px;
    transition: all 0.4s ease;
    padding-left: 56px;
}

.icon-search {
    position: relative;
    top: 5px;
    left: 10px;
    width: 50%;
    height: 50%;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid mix($cornflower-blue, white, 35%);
    transition: opacity 0.25s ease, transform 0.43s $snappy;
    &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        right: -2px;
        width: 3px;
        border-radius: 3px;
        transform: rotate(-45deg);
        height: 10px;
        background-color: mix($cornflower-blue, white, 35%);
    }
}

.icons-container {
    position: absolute;
    top: 11px;
    //right: -46px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    left: 10px;
}

.field-container {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.search-container {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 2.5%;
        bottom: 0;
        height: 1px;
        width: 95%;
        border-bottom: 1px solid rgb(240, 240, 240);
    }
}
